@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$global-font-family: 'Merriweather', 'Karla', sans-serif; // -apple-system, Segoe UI, sans-serif, PingFang SC, Microsoft Yahei, Segoe UI Emoji !default;

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
$code-font-family: Monaco, Source Code Pro, Menlo, Consolas, monospace;


$global-border-color: #575757 !default;
$selection-color:RGB(253, 216, 84) !default;
$header-title-font-family: 'Arapey', sans-serif;
