@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
$code-font-family: Monaco, Source Code Pro, Menlo, Consolas, monospace;


$global-font-family:  Karla, "sans-serif"; // -apple-system, Segoe UI, sans-serif, PingFang SC, Microsoft Yahei, Segoe UI Emoji !default;

body {
	font-family: 'Karla', serif;
}
h2, h3, h4, h5, h6, {
	font-family: 'Arapey', sans-serif;
}

$global-header-color: #3232ef;


// table font size
$table-font-size: 12px;
