
@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.eot');
     src: url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.woff') format('woff'),
          url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.ttf') format('truetype'),
     font-weight: normal;
     font-style: normal;
 }


@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.eot');
     src: url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.woff') format('woff'),
          url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.ttf') format('truetype'),
     font-weight: normal;
		 font-style: italic;
 }


@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.eot');
     src: url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.woff') format('woff'),
          url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.ttf') format('truetype'),
    font-weight: bold;
     font-style: normal;
 }
