@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,300i,400,600,700&display=swap');

@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.eot');
     src: url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.woff') format('woff'),
          url('/fonts/proximanova_regular/ProximaNova-Reg-webfont.ttf') format('truetype'),
     font-weight: normal;
     font-style: normal;
 }


@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.eot');
     src: url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.woff') format('woff'),
          url('/fonts/proximanova_italic/ProximaNova-RegIt-webfont.ttf') format('truetype'),
     font-weight: normal;
		 font-style: italic;
 }


@font-face {
    font-family: 'ProximaNova';
     src: url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.eot');
     src: url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.eot?iefix') format('eot'),
          url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.woff') format('woff'),
          url('/fonts/proximanova_bold/ProximaNova-Bold-webfont.ttf') format('truetype'),
    font-weight: bold;
     font-style: normal;
 }

 @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
$code-font-family: Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;
$global-font-family:  Nunito Sans, sans-serif; // -apple-system, Segoe UI, sans-serif, PingFang SC, Microsoft Yahei, Segoe UI Emoji !default;
